/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    manifest = "manifest.txt"

    outdir = "outputs"

    primer_f = "AGAGTTTGATCMTGGCTCAG"
    primer_r = "AAGTCGTAACAAGGTAACC"
    min_length = 1400
    max_length = 1800

    clusteringcpus = 4

    refdb = "silva"
}

process {

    withName: primer_trimming {
      publishDir = [
          path: { "${params.outdir}/cutadapt/" },
          mode: 'copy',
          pattern: "*trimmed.log"
      ]
    }

    withName: CLUSTERING {
      cpus = params.clusteringcpus
      publishDir = [
          path: { "${params.outdir}/clustering/" },
          mode: 'copy',
          pattern: "*.fasta"
      ]
    }

    withName: FASTQC {
      publishDir = [
          path: { "${params.outdir}/fastqc/" },
          mode: 'copy'
      ]
    }

    withName: FINAL_TABLE {
      publishDir = [
          path: { "${params.outdir}/otu_table/" },
          mode: 'copy'
      ]
    }
}

executor {
  $slurm {
        cpus = 1
        queueSize = 30
        pollInterval = '30sec'
  }

  $local {
      cpus = 6
      memory = '20 GB'
  }
}