process {

    withName: CLUSTERING {
      publishDir = [
          path: { "${params.outdir}/clustering/" },
          mode: 'copy',
          pattern: "{*.fasta,*.log}"
      ]
    }

    withName: ASSIGN_IDTAXA {
      publishDir = [
          path: { "${params.outdir}/taxonomy/" },
          mode: 'copy',
          pattern: "*.tsv"
      ]
    }

    withName: FINAL_TABLE {
      publishDir = [
          path: { "${params.outdir}/otu_table/" },
          mode: 'copy'
      ]
    }

    withName: GATHER_LOGS {
      publishDir = [
          path: { "${params.outdir}/" },
          mode: 'copy'
      ]
    }
}

